/* Message Box */
.message-box {
	--color-message-box: #ebcb8b;
	--color-message-text: #2e3440;

	display: block;
	background-color: var(--color-message-box);
	color: var(--color-message-text);
	padding: 1em 0.625em; /* 16px 10px /16 */
}
.message-box ol {
	margin-top: 0;
}

@media (prefers-color-scheme: dark) {
	.message-box {
		--color-message-box: #5e81ac;
		--color-message-text: #eceff4;
	}
}
